*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.body{
    background-color: rgb(245, 245, 245);
}
main{
    padding-bottom: 10px;
    
}

/*Estilos footer*/
footer{
    width: 100%;
    height: 140px;
    background-color: rgb(143, 143, 143);
    text-align: center;
    padding: 30px;
}

footer h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    
}

footer h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
}
footer h4{
    font-size: 10px;
}



/* Estilos de la navegacion */
.navbar{
    background-color: rgb(236, 236, 236);
    box-shadow: 1px 1px 3px ;
    
}

.logotipo{
    padding: 10px;
}

.nav-item a{
    font-size: 18px;
    color: rgb(43, 43, 43);
    padding-left: 10px;      
}

.nav-item:hover{
    transition: all 0.3 ease;
    font-size: 20px;
    background-color: rgb(150, 163, 132);
    border-radius: 3px;
}

/* Estilos del inicio*/

.bannerinicio img{
    width: 100%;
    height: 20%;
    
}

.tituloinicio{
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    color: rgb(73, 39, 39);
}

.tituloinicio h5{
    padding-left: 43%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sectioninicio{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 460px;
    padding: 20, 20, 20, 20px;
    
}
.sectioninicio img{
    padding-left: 10px;
    height: 450px;
    width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.textosinicio{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15px;
    width: 50%;
    height: 450px;
    border-color: brown;

}

.textosinicio h5{
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: rgb(77, 40, 40);
    padding-bottom: 55px;

}

.textosinicio h2{
    display: flex;
    height: 20px;
    width: 100%;
    font-size: 18px;
    padding-bottom: 85px;
   
}

aside{
    width: 100%;
    display: flex;
    flex-direction: column;
}
aside img{
    padding-left: 15%;
    width: 85%;
    height: 400px;
    cursor: pointer;
    padding-bottom: 10px;
}



/*Estilos  de Contacto*/

.titulocontacto{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    color: rgb(41, 41, 41);
}

.subtitulocontacto{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-left: 15px;
    color: rgb(41, 41, 41);
    padding-bottom: 20px; 
}


.titulomap {
    padding-bottom: 20px;
    
}

.contenedormap{
    width: 300px;
    height: 400px;  
}

.mapcontacto{
    padding-bottom: 20px;
}

@media (max-width: 800px) {
.mapcontacto{
    width:250px ;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
}

.form{ 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.formulario{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 450px;
    border-radius:10px;
    padding: 10px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    box-shadow: 1px 1px 2px 1px;
}

@media (max-width: 800px) {
    .form{ 

        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .formulario{  
        width: 250px;
        height: 450px;     
    }
  }


.formtitulo{
    color: rgb(99, 49, 49);
    display: flex;
    justify-content: center;
    
    
}

.forminput{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 35px;
    margin-top: 10px;
}

.forminputmensaje{
    margin-top: 20px;
    width: 100%;
    height: 200px;
}


.boton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    cursor: pointer;
}
.forminputenviar{
    background-color:rgb(255, 255, 255);
    border-radius: 3px;
    width: 200px;
    height: 40px;
}

.forminputenviar:hover{
    transform: scale(0.9);
    background-color: rgb(199, 36, 36);
    
}
/*.forminputenviar{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    letter-spacing: 0;
    background-color: rgba(255,255,255,0.05);
}

.forminputenviar:hover,
.forminputenviar:active {
    letter-spacing: 5px;
}

.forminputenviar:after,
.forminputenviar:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.forminputenviar:after,
.forminputenviar:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 70%;
}

.forminputenviar:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
}
*/


  

/* Estilos de Productos */
.tituloproductos{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 30px;
    color: rgb(41, 41, 41);
    
}

/* Estilos Nosotros */

.titulonosotros{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    color: rgb(41, 41, 41);
}

.text p{
    font-family: 'Poppins', sans-serif;
    color: rgb(68, 68, 68);
    font-size: large;
    text-align: center;
    margin: 20px;
    
}

@media (max-width: 800px) {
    .imgNosotros{
        width: 330px;
        height: 230px;
    }

    .videoNosotros{
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .imgNosotros{
        width: 250px;
        height: 130px;
    }

    .videoNosotros{
        width: 350px;
        height: 300px;
    }
}