.titulossecciones{
    font-family: 'Poppins', sans-serif;
        font-size: 35px;
        display: flex;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        color: rgb(41, 41, 41);
}