//Seccion Contacto
@media (max-width: 800px) {
    .mapcontacto{
        width:250px ;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    
}

//Seccion Inicio
@media (max-width: 800px) {
    .imgInicio{
        width: 330px;
        height: 250px;
    }

    .aside{
        img{
            display: none;
        }    
    }
}

@media (max-width: 400px) {
    .imgInicio{
        width: 250px;
        height: 180px;
    }

    .aside{
        img{
            display: none;
        }   
    }   
    main{
        .tituloinicio{  
            text-align: center;
       

            h5{
                margin-right: 70px;
                font-family: 'Nunito', sans-serif;
                color: rgb(73, 39, 39);
            }
        }
    }
}

//Seccion Nosotros
@media (max-width: 800px) {
    .imgNosotros{
        width: 330px;
        height: 230px;
    }

    .videoNosotros{
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .imgNosotros{
        width: 250px;
        height: 140px;
    }

    .videoNosotros{
        width: 250px;
        height: 140px;
    }
}
 

