//Seccion Contacto
@media (max-width: 800px) {
    .mapcontacto{
        width:250px ;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }    
}

//Seccion Inicio
@media (max-width: 800px) {
    .imgInicio{
        width: 330px;
        height: 250px;
    }

    .aside{
        img{
            display: none;
        }    
    }
}

@media (max-width: 400px) {
    .imgInicio{
        width: 250px;
        height: 180px;
    }

    .aside{
        img{
            display: none;
        }   
    }   
    main{
        .tituloinicio{  
            display: flex;
            align-items: center;
            font-family: 'Nunito', sans-serif;
                color: rgb(73, 39, 39);
       

            h5{
                padding-left: 33%;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }
    }
}

//Seccion Nosotros
@media (max-width: 800px) {
    .imgNosotros{
        width: 330px;
        height: 230px;
    }

    .videoNosotros{
        width: 350px;
        height: 300px;
    }
}

@media (max-width: 400px) {
    .imgNosotros{
        width: 250px;
        height: 140px;
    }

    .videoNosotros{
        width: 250px;
        height: 140px;
    }
}
 
//Seccion Productos

@media (max-width: 768px) {
    main{
        .containerproductos1{
            padding-left: 100px;
    
            .card{
                margin: 10px;
            }
       }
           
       .containerproductos2{
           padding-left: 100px;
    
           .card{
            margin: 10px;
        }
       }
    }
}

@media (max-width: 590px) {
    main{
        .containerproductos1{
            padding-left: 10px;
    
            .card{
                margin: 10px;
            }
       }
           
       .containerproductos2{
           padding-left: 10px;
    
           .card{
            margin: 10px;
        }
       }
    }
}
